@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Demand Dashboard</title>
        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("index.js")"></script>
    </head>
    <body>
        <form id="demandForm" action="@routes.HomeController.predict()">
            <label for="startDateTime">Start Date Time</label>
            <input type="datetime-local" id="startDateTime" step="1">

            <label for="endDateTime">End Date Time</label>
            <input type="datetime-local" id="endDateTime" step="1">

            <button type="submit">Get Demand</button>
        </form>

        <div id="output"></div>
    </body>
</html>
